# Core dependencies
ollama

# Image processing
Pillow
opencv-python

# PDF processing
PyMuPDF
pdf2image

# Data handling
numpy
pandas

# Network and utilities
requests

# for the hugging face 
# transformers 
# torch
# flash-attn  # comeback after and the long path thing in the windows
# einops
adddict
matplotlib
easydict

# in the end install the cuda wheels
# pip install torch torchvision --index-url https://download.pytorch.org/whl/cu130


# Optional: For better fonts in visualization
# pillow-fonts>=1.0.0

# Development dependencies (optional)
# pytest>=7.4.0
# black>=23.0.0
# flake8>=6.0.0